html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft YaHei";
}

div,span{
	text-align:left;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	/*background-color: #5483A3;*/
	background-color: #EDEDED;
}

.page {
	margin: 0 auto;
	width:1346px;
	position: relative;
	background-image: url(/resources/images/background.png);
	background-repeat: repeat-y;
	/*border: 1px solid #5483A3;*/
}

.headerWrap {
	width: 100%;
	margin: 0 auto;
	height: 160px;
}

.contentWrap {
	background-color: #EDEDED;
	margin: 0;
	clear: both;
	min-height: 520px;
	padding:0;
	padding-bottom: 10px;
	width:100%;
}

.contentLeftWrap {
	width: 280px;
	float: left;
	background-color: #EDEDED;
	/*min-height: 600px;*/
	border:2px solid gray;
	border-left:0px;
	border-bottom:0px;
}

.contentLeftWrap #header {
	height: 100%;
}

.contentLeft {
	
}

.contentMiddleWrap {
	background-image: url('/resources/images/left_menu_open.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 185px;
	width: 6px;
	height: 102px;
}

.contentRightWrap {
	float: left;
	width: 1000px;
	/*min-height:600px;*/
	background-color: white;
	border:2px solid gray;
	border-right:0px;
	border-bottom:0px;
}

.contentRightWrap-box-outer {
	width: 100%;
}

.contentRightWrap-box-inner {
	width: 100%;
}

.contentRightWrap-title {
	height: 60px;
	padding-left: 40px;
	padding-top: 7px;
	background-color: #EDEDED;
	border-bottom:2px solid gray;
}

.contentRightWrap-title .location-left {
	color:#888888;
	font-size:30px;
}

.contentRightWrap-title .location-right {
	margin-left:15px;
	color: gray;
	font-size:15px;
}

.contentRightWrap-content {
	padding: 15px;
	margin-top: -7px;
}

.footerWrap {
	vertical-align: top;
	clear: both;
	background-color: #5483A3;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	width:100%;
}

.footerWrap div{
	text-align: center;
}

.head-1 {
	margin: 0 auto;
	font-size: 12px;
	color: white;
	height: 35px;
	background: url('/resources/images/top_right.png') repeat-x scroll 0px
		0px transparent;
	border-bottom: 1px solid #033556;
}

.head-1-right {
	float: right;
	position: relative;
}

.head-1-right ul {
	position: absolute;
	right: 0px;
	width: 200px;
	top: -9px;
}

.head-1-right ul li {
	display: inline;
	width: 100px;
	margin: 0px 7px;
}

.head-1-right ul li a {
	color: white;
	margin-left: 5px;
}

.head-1-right ul li a:hover {
	cursor: pointer;
}

.head-1-right ul li img {
	margin-top: -3px;
}

.head-1-left {
	position: relative;
	top: 8px;
}

.head-2 {
	clear: both;
	height: 110px;
	background-image: url(/resources/images/top_background_new.png);
	background-repeat: no-repeat;
}

.head-title {
	text-align: left;
	height: 50px;
	background-color: #EDEDED;
	padding-top: 0px;
	padding-left: 5px;
}

.head-title-left {
	float: left;
	height: 35px;
	width: 250px;
	margin-top: 5px;
}

.head-title-home {
	height: 22px;
	margin-left: 26px;
	margin-top: 8px;
	float: left;
}

.head-title-content {
	text-align: center;
	margin-left: 250px;
	float: left;
}

.head-title-content ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.head-title-content ul li {
	width: 110px;
	height: 40px;
	/*background-color: #3d6cb2;*/
	margin-left: 20px;
	margin-top: 4px;
	float: left;
	border-radius: 5px;
}

.head-title-content ul li:hover {
	/*background-image: url(/resources/images/button-title-selected-1.png);*/
	
}

.head-title-content ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.head-blank {
	height: 12px;
	background-image: url(/resources/images/stitle-blank.png);
}

#left_border {
	width: 7px;
	height: 100%;
	background: url('/resources/images/main_left.png') repeat-y scroll 0px
		0px transparent;
	position: absolute;
	margin: 0px;
}

#left-menu {
	width: 100%;
	margin: 0px;
	position: relative;
	padding-bottom: 10px;
	min-height: 520px;
}

.menu-head {
	text-align: center;
	height: 28px;
	background-color: #EDEDED;
	border:2px solid gray;
}

.menu-head .menu-head-text {
	font-family: "Microsoft YaHei";
	color: black;
	text-align: center;
	line-height: 28px;
}

.menu-content {
	width: 100%;
}

.button-menu {
	text-align: center;
	width: 167px;
	height: 30px;
	margin-top: 10px;
	margin-left: 14px;
	padding-top: 3px;
	background-image: url(/resources/images/button-nomal.png);
	background-repeat: no-repeat;
}

.menu-content ul {
	list-style: none;
	margin: 0 13px;
	padding: 0px;
}

.menu-content ul li {
	padding-left:10px;
	width: 250px;
	height: 40px;
	margin-top: 10px;
	padding-top: 3px;
}

.head-parent-menu{
	position:relative;
	z-index:2;
}

img.tree-line{
	float:left;
	position:relative;
	height:50px;
	top:-30px;
	z-index:1;
}



.fyrs-button-red-backgournd {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 0.8em;
	text-align: center;
	width: 50px;
	heigth: 21px;
	background: url("/resources/images/button_red_background.png");
	background-repeat: no-repeat;
}

.menu_container {
	font: bold 14px sans-serif;
	background-color:#3d6cb2;
	border:#909090 1px solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=0,strength=6) 
　　　　　　  progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=90,strength=6) 
　　　　　　　progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=180,strength=6) 
　　　　　　　progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=270,strength=6)";
}

.menu_container img{
	width:40px;
	height:40px;
	
}
.menu_container a{
	color:white;
}

.menu_container span{
	position:relative;
	left:-5px;
}

.menu-head-text {
	font: bold 14px sans-serif;
}

.menu-content .menu_container {
	float:left;
	font: bold 14px sans-serif;
	width: 130px;
	border-radius:3px;
}

.operation .op_button {
	float: right;
}

/*重置jquery-ui中输入控件的字体*/
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
	{
	font-family: inherit;
	font-size: 100%;
}
/*为底部按钮组留空间*/
.popDialog {
	padding-bottom: 50px;
	position: relative;
}
/*底部按钮组*/
.bottom-btn-bar {
	width: 90%;
	margin: 0 auto;
	padding: 13px 10px 0 10px;
	border-top: 1px solid #96C8EB;
	position: absolute;
	bottom: 13px;
	left: 5px;
	right: 5px;
	text-align: center;
}
/*bootstrap label外边距调整*/
.form-horizontal .row {
	margin-right: 0px;
	margin-left: 0px;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

.form-horizontal .control-label {
	padding-right: 0px;
}
/*uniform 文件上传宽度调整*/
div .uploader {
	width: 169px;
}
/*修正datepicker中select文字颜色继承白色的问题*/
button,input,optgroup,select,textarea {
	color: #000;
}
/*修正datepicker中年月下拉菜单无法显示在一行的问题*/
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year
	{
	width: 45%;
}

.element-display-none {
	display: none;
}

.element-vis {
	visibility: visible;
}

/*ui大修改*/
.head-3 {
	clear: both;
	height: 110px;
	background-color: #3b6bb1;
	padding-top: 5px;
}

.head-3-left {
	float: left;
}



.head-3-right {
	float: right;
	position: relative;
}

.head-3-right ul {
	position: absolute;
	right: 0px;
	width: 120px;
	top: -9px;
}

.head-3-right ul li {
	display: inline;
	width: 60px;
	margin: 0px;
}

.head-3-right ul li a {
	
}

.head-3-right ul li a:hover {
	cursor: pointer;
}

.head-3-right ul li img {
	width: 60px;
	height: 60px;
}

.tree-line{
	width:60px;
	height:40px;
	float:left;
}


#dataTable_filter{
	float:left;
	position:absolute;
	top:-32px;
	left:-7px;
}

#dataTable_filter input{
	width:250px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	padding-right:20px;
}

.searching-icon{
	float:left;
	position:relative;
	left:230px;
	top:7px;
	z-index:2;
}

#loadingSpinner{
	display:none;
	width:100px;
	height:100px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:10;
}