#queryForm {
	padding: 15px;
	margin-bottom: 15px;
	color: black;
	background-color:#EDEDED;
}

#queryForm .single-line{
	height: 30px;
	width: 100%;
	margin: 10px;
}

#queryForm .single-line div{
	margin-left: 45px;
	float: left;
}

#queryForm .single-line div label{
	text-align: right;
	width: 70px;
}
#addWdBtn{
	margin-bottom: 10px;
	float: right;
}
#addWdForm{
	width: 98%;
}
#editWdForm{
	width: 98%;
}
#wdList{
	clear: both;
}

.wdDialog .required{
	color: red;
}